@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-manrope: var(--font-manrope);
  --font-playfair: var(--font-playfair);
  --text-100px: 6.25rem;
  --text-54px: 3.375rem;
  --color-voilet-100: #ECE9FE;
  --color-voilet-500: #875BF7;
  --color-neutral-900: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-manrope), sans-serif;
}
